<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info Employee</title>
</head>
<body>
<br>
<h2>Info Employee</h2>
<br>
<br>

<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Delete</th>
            <th>Update</th>

        </tr>
        <tr th:each="emp:${empAll}">
            <td th:text="${emp.getName()}">Name</td>
            <td th:text="${emp.getSurname()}">Surname</td>
            <td th:text="${emp.getAge()}">age</td>

            <td>
                <form th:method="DELETE" th:action="@{/delete}">
                    <button type="submit" th:name="deleteId" th:value="${emp.getId()}">Удалить</button>
                </form>
            </td>

            <td>
                <form th:method="GET" th:action="@{/formUserEdit/edit}">
                    <button type="submit" th:name="updateId" th:value="${emp.getId()}">Обновить</button>
                </form>
            </td>

        </tr>
    </table>

    <br>
    <br>

    <form th:method="GET" th:action="@{/formUserAdd/new}">
        <button type="submit">Добавить работника</button>
    </form>

</div>

</body>
</html>
